.navbar img{
    width: 7rem;
    height: 7rem;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    background-color: #333;
}

.navbar-brand img {
    max-width: 100px; /* Ajusta el ancho de tu logotipo */
}

/* Estilos de las secciones */
section {
    padding: 40px 0;
}

h2 {
    font-size: 2rem;
    color: #333;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Estilos de los botones */
.btn {
    background-color: #007bff;
    color: #fff;
}

/* Estilos de los formularios de contacto */
.form-label {
    font-weight: bold;
}

/* Estilos de las tarjetas de proyecto */
.card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.card-img-top {
    max-height: 200px; /* Ajusta el alto de las imágenes de proyecto */
}
